body {
    background-color: rgb(165, 25, 49);
}

header {
    background-color: rgb(36, 29, 82);
}

.is-active {
    margin: 0% 2% 0% 2% !important;
}

.logo {
    font-size: 180%;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px white;
    font-family: "Charm", 'Times New Roman';
    font-weight: 400;
    font-style: normal;
    color: rgb(244, 245, 248);
    padding: 5px;
}

.logo::first-letter {
    color: rgb(204, 36, 49) !important;
}

.card {
    height: 25% !important;
    width: 30% !important; 
    margin-top: 3%;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}