

.cabeçario{color: rgb(165, 213, 255); font-size: 85px;} 

.texto{color: rgb(208, 186, 160); font-size: 20px;}

.cab-tabela{color: rgb(208, 186, 160); font-size: 30px;}

.subtitulo{color: rgb(208, 186, 160); font-size: 50px;}

.traço{font-size: 100px;}

.fundo{background-color: rgb(24, 24, 41);}

.saibamais{background-color:rgb(208, 186, 160); font-size: 22px; }