.vitrine {
    background-color: #F3F0E7 !important;
}

.texto4 {
    color: #97061D;
    font-family: "Smythe", system-ui;
    font-weight: 599;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
    padding-top: 10%;
}

.disco-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    height: 100% !important;
    width: 40% !important;
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: #8B6B2D;
    color: #F3F0E7;
    border: 5.5px, solid, #335e86;
    transition: transform 0.7s ease !important;
    font-family: "Contrail One", sans-serif;
    font-style: normal;
}

.card:hover {
    transform: scale(1.02);
}

#imd {
    border-top-left-radius: 1.5% !important;
    border-top-right-radius: 1.5% !important;
}

.title {
    color: #F3F0E7;
    font-weight: 600 !important;
    margin-bottom: 1.8% !important;
    font-size: 190% !important;
}

.subtitle {
    color: #F3F0E7;
    font-size: 120%;
    margin-bottom: 1.8% !important;
}

#preco {
    font-size: 130%;
    font-weight: 600 !important;
}

.media {
    margin-bottom: 3% !important;
}

#d {
    font-size: 85%;
    margin-top: 8%;
    width: 100%;
}





.navbar {
    background-color: #E5C276 !important;
    font-family: "Contrail One", sans-serif;
    font-weight: 600 !important;
    font-style: normal;
    font-size: 25px;
}

.navbar-item {
    margin-left: 20px !important;
    margin-right: 20px !important;
    color: #335e86 !important;
}

#mais {
    color: #335e86 !important;
}

#sobre {
    background-color: #F3F0E7 !important;
    font-size: 20px;
    padding-top: 12px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#cads {
    background-color: #F3F0E7 !important;
    font-size: 20px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.navbar-dropdown {
    background-color: #F3F0E7 !important;
}

#titulo {
    font-size: 45px;
    margin-right: 100px !important;
    margin-left: 120px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}