body {
    background-color: rgb(165, 25, 49) !important;
}

header {
    background-color: rgb(36, 29, 82) !important;
}

.is-active {
    margin: 0.2% 2% 0.2% 2% !important;
}

.logo {
    font-size: 180%;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgb(115, 140, 217);
    font-family: "Charm", 'Times New Roman';
    font-weight: 400;
    font-style: normal;
    color: rgb(244, 245, 248);
    padding: 5px;
}

.logo::first-letter {
    color: rgb(204, 36, 49) !important;
}

section {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding-top: 4% !important;
}

img {
    height: 25rem !important;
    width: 35rem !important;
    margin-top: 2% !important;
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 250% !important;
    font-family: "Charm", 'Times New Roman';
    font-weight: 700;
    font-style: normal;
    color: rgb(244, 245, 248);
    text-align: center;
    margin-bottom: 2% !important;
    margin-top: 2% !important;
}

.texto {
    height: 20rem;
    width: 33rem;
    font-size: 150%;
    font-family: "Charm", 'Times New Roman';
    font-weight: 400;
    font-style: normal;
    color: rgb(244, 245, 248);
    text-align: center;
}

.button1 {
    display: flex !important;
    justify-content: space-around;
}

.button {
    animation-name: cor !important;
    animation-duration: 2s !important;
    animation-timing-function: ease-in-out !important;
    animation-direction: alternate;
    animation-play-state: running !important;
    animation-iteration-count: infinite !important;
    margin-bottom: 5%;
}

.texto2 {
    font-size: 200%;
    font-family: "Charm", 'Times New Roman';
    font-weight: 400;
    font-style: normal;
    color: rgb(244, 245, 248);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    width: 30% !important;
    height: 30% !important;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.checkbox {
    color: black;
    margin-bottom: 2%;
    margin-top: 0.5%;
    accent-color: rgb(47, 38, 108);
}

@keyframes cor {
    0% {
      color: rgb(204, 36, 49);
    }
    
    100% {
      color: rgb(34, 23, 106);
    }
}